.column{
    display: flex;
    flex-direction: row;
    background: black;
    padding: 2vh;
    margin-left:50%;
    margin-top: 86vh;
    transform: translate(-50%,0);
    width: auto;
    align-items: center;
    justify-content: center;
    border-radius: 3vh;
    padding-left: 60px;
    position:fixed;
}

.buttonnum{
    height: 5vh;
    width: 5vh; 
    margin-right: 30px;
    border-radius: 1vh;
    color: white;
    font-size: medium;
    padding: 10px;
    position: 50%;
    background: #004aac;
    
}

.back{
    height: 5vh;
    width: 15vh; 
    margin-right: 30px;
    border-radius: 1vh;
    color:white;
    font-size: medium;
    background: #034595;
}
